.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### LOG ###
/logs/
**/logs/

*.class
**/out/*
*/build
*.log

### QueryDsl ###
generated

### dump ###
*.hprof

## token info
resources/application.yml
ants-oauth/src/main/resources/googleAuth.yml